<script>
export default {
    template: '#auth-register-template',
    delimiters: ['{#', '#}'],
    // name: 'auth-login',
    data() {
        return {
            name: 'Admin',
            email: 'admin@mail.com',
            password: '123',
            password_confirmation: '123',
            errors: {},
        }
    },
    methods: {
        submitForm(e) {
            console.log('submit')
            const action = e.target.closest('form').getAttribute('action');
            axios.post(action, {
                name: this.name,
                email: this.email,
                password: this.password,
                password_confirmation: this.password_confirmation,
            })
            .then(response => {
                localStorage.setItem('authToken', response.data.token);
                location.href = '/';
            })
            .catch(error => {
                this.errors = error.response.data.errors;
            })

        },
    },
    // beforeMount() {
        // console.log('asd');
    // }
}
</script>

<style lang="scss" scoped>

</style>




