<script>
export default {
    template: '#auth-login-template',
    delimiters: ['{#', '#}'],
    data() {
        return {
            email: 'admin@mail.com',
            password: '123',
            errors: {},
        }
    },
    methods: {
        submitForm(e) {
            const action = e.target.closest('form').getAttribute('action');
            axios.post(action, {
                email: this.email,
                password: this.password,
            })
            .then(response => {
                localStorage.setItem('authToken', response.data.token);
                location.href = '/';
            })
            .catch(error => {
                this.errors = error.response.data.errors;
                console.log(this.errors)
            })

        },
    },
}
</script>

<style lang="scss" scoped>

</style>




