<template>
    <div class="post-comment__form">

        <p v-if="noticeSuccess" class="post-comments-form__notice post-comments-form__notice--success">
            {{ noticeSuccess }}
        </p>
        <p v-if="noticeError" class="post-comments-form__notice post-comments-form__notice--error">
            {{ noticeError }}
        </p>

        <form class="post-comments-form" @submit.prevent="saveComment">

            <textarea
                class="post-comments-form__textarea"
                v-model="comment.text"
            ></textarea>

            <div class="d-flex post-comments-form__actions">
                <button class="btn btn-primary post-comments-form__action">Send</button>
            </div>

        </form>
    </div>
</template>

<script>
export default {
    data() {
        return {
            noticeSuccess: '',
            noticeError: '',
        }
    },

    props: {
        comment: {
            type: Object,
            default: function () {
                return {
                    id: '',
                    text: '',
                    user: null,
                    update_url: ''
                }
            }
        },
    },

    computed: {

    },

    methods: {
        saveComment (e) {
            const data = {
                text: this.comment.text,
                user_id: (this.comment && this.comment.user)
                    ? this.comment.user.id
                    : this.$store.getters.currentUser.id,
                post_id: this.$store.getters.getCurrentPost.id,
            };

            let query;
            if(this.comment.update_url) {
                query = axios.put(this.comment.update_url, data)
            } else {
                query = axios.post('/api/comments', data)
            }

            query.then((response) => {
                this.noticeSuccess = 'Saved successfully';
            })
            .catch((response) => {
                this.noticeError = 'Something went wrong';
            })

            this.$store.dispatch('loadCurrentPost');
        },

    },

    updated () {
        window.setTimeout(() => {
            this.noticeSuccess = ''
            this.noticeError = ''
        }, 3000);
    },

    beforeMount() {
        // this.text = this.comment ? this.comment.text : '';
        // this.id = this.comment ? this.comment.id : '';
        // this.user = this.comment ? this.comment.user : {};
        // this.saveUrl = this.comment ? this.comment.update_url : '';
        // if(!this.comment) {
        //
        // }
    },

    mounted() {

    }

}
</script>

<style lang="scss" scoped>

</style>




