<script>
import rolesStore from "../../store/posts-store";

import Vue from 'vue';
import commentForm from './comment-form';
Vue.component('comment-form', commentForm);

export default {
    template: '#comments-list-template',
    delimiters: ['{#', '#}'],

    data() {
        return {

        }
    },

    computed: {
        post() {
            return this.$store.getters.getCurrentPost;
        },
    },

    methods: {
        approveComment(comment) {
            axios.patch(comment.approve_url, {
                comment: comment.id,
            })
            .then((response) => {
                this.$store.dispatch('loadCurrentPost');
            })
            .catch((response) => {
                console.log(response);
            })

        },

        removeComment(comment) {
            if(confirm('Will the comment be deleted?')) {
                console.log(comment.remove_url);
                if(comment.remove_url) {
                    axios.delete(comment.remove_url)
                        .then((response) => {
                            this.$store.dispatch('loadCurrentPost');
                        })
                        .catch((response) => {
                            console.log(response);
                        })
                }
            }
        },
    },

    beforeMount() {
        if(!this.$store.hasModule('posts')) {
            this.$store.registerModule('posts', rolesStore);
        }
    },

}
</script>

<style lang="scss" scoped>

</style>




