.post-comments {
    max-width: 650px;
    margin: 25px auto;
    &__form {

    }
}
.post-comments-form {
    &__textarea {
        width: 100%;
    }
    &__actions {

    }
    &__action {

    }
    &__notice {
        &--success {
            color: #0ab22c;
        }
        &--error {
            color: red;
        }
    }
}
.post-comment {
    margin-bottom: 25px;
    padding: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    border-radius: 3px;
    &__header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;
    }
    &__body {

    }
    &__footer {
        display: flex;
        align-items: center;
    }
    &__date {
        margin-right: 0;
        font-weight: 500;
    }
    &__author {
        margin-left: auto;
        margin-right: 0;
        font-weight: 500;
    }
    &__form {
        //height: 0;
        //overflow: hidden;
        //transition: .2s;
        //&--show {
        //    height: 100%;
        //}
    }

    &__edit {
        padding: 10px;
        cursor: pointer;
    }
    &__remove {
        display: inline-block;
        button {
            padding: 10px;
            background: none;
            border: 0;
        }
    }
    &--not-approved {
        opacity: .5;
    }
}
