.posts {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    &__links {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.post {
    margin-bottom: 25px;
    padding: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    border-radius: 3px;
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__title {
        font-size: 20px;
    }
    &__body {

    }
    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__date {

    }
    &__author {
        font-weight: 600;
    }
}
