.news-form {
    &__input {
        &--title {
            width: 100%;
            margin-bottom: 15px;
            padding: 5px 15px;
        }
    }
    &__textarea {

    }
    &__action {
        display: block;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
    }
}
