.posts {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.posts__links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post {
  margin-bottom: 25px;
  padding: 25px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.post__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post__title {
  font-size: 20px;
}
.post__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post__author {
  font-weight: 600;
}

.single-post__edit {
  font-size: 16px;
}
.news-form__input--title {
  width: 100%;
  margin-bottom: 15px;
  padding: 5px 15px;
}
.news-form__action {
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.post-comments {
  max-width: 650px;
  margin: 25px auto;
}
.post-comments-form__textarea {
  width: 100%;
}
.post-comment {
  margin-bottom: 25px;
  padding: 25px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.post-comment__header {
  display: flex;
}
.post-comment__footer {
  display: flex;
}
.post-comment__date {
  margin-left: auto;
  margin-right: 0;
  font-weight: 500;
}
.post-comment__author {
  margin-left: auto;
  margin-right: 0;
  font-weight: 500;
}
.post-comment__form {
  height: 0;
  overflow: hidden;
  transition: 0.2s;
}
.post-comment__form--show {
  height: 100%;
}
.post-comment__edit {
  padding: 10px;
  cursor: pointer;
}
.post-comment__remove {
  display: inline-block;
}
.post-comment__remove button {
  background: none;
  border: 0;
}
