<template>
    <div>
        <select v-model="currentEducation" class="form-select">
            <option value="">Education Filter</option>
            <option v-for="education in educations" :key="education.id" :value="education">
                {{ education.title }}
            </option>
        </select>
    </div>
</template>
<script>

export default {
    data() {
        return {
            currentEducation: null,
        }
    },
    props: ['educations'],
    methods: {

    },
    computed: {

    },
    watch: {
        currentEducation(education) {
            this.$emit('listen-selected-education', education);
        }
    },
}
</script>

<style lang="scss" scoped>
    .filter-user-skills {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-bottom: 50px;
        list-style: none;
    }
    .filter-user-skill {
        position: relative;
        margin: 5px;
        padding: 5px 25px 5px 10px;
        border: 1px dashed #dedede;
        border-radius: 20px;
        transition: .2s;
        cursor: pointer;
        &__title {

        }
        &__description {
            display: none;
        }
        &__user-count {
            position: absolute;
            right: 5px;
            top: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            font-size: 10px;
            background-color: #dedede;
        }
        &--active {
            border-color: #212529;
            background-color: #dedede;
            .filter-user-skill__user-count {
                background-color: #fff;
            }
        }
    }
</style>




