<template>
    <div class="container">
        <ul class="filter-user-skills">
            <li
                v-for="skill in skills"
                @click="selectSkill(skill)"
                class="filter-user-skill" :class="{'filter-user-skill--active' : skill.active}"
                :data-id="skill.id"
            >
                <span class="filter-user-skill__title">{{ skill.title }}</span>
                <span class="filter-user-skill__description">{{ skill.description }}</span>
                <span class="filter-user-skill__user-count">{{ skill.countUsers }}</span>
            </li>
        </ul>
    </div>
</template>
<script>

export default {
    data() {
        return {
            selected: [],
        }
    },
    props: {
        skills: Array,
    },
    methods: {
        selectSkill(skill) {
            skill.active = !skill.active;
            this.updateSelectedSkills();
        },
        updateSelectedSkills() {
            this.selected = this.skills.filter(skill => skill.active)
            this.$emit('listen-selected-skills', this.selected);
        }
    },
}
</script>

<style lang="scss" scoped>
    .filter-user-skills {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-bottom: 50px;
        list-style: none;
    }
    .filter-user-skill {
        position: relative;
        margin: 5px;
        padding: 5px 25px 5px 10px;
        border: 1px dashed #dedede;
        border-radius: 20px;
        transition: .2s;
        cursor: pointer;
        &__title {

        }
        &__description {
            display: none;
        }
        &__user-count {
            position: absolute;
            right: 5px;
            top: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            font-size: 10px;
            background-color: #dedede;
        }
        &--active {
            border-color: #212529;
            background-color: #dedede;
            .filter-user-skill__user-count {
                background-color: #fff;
            }
        }
    }
</style>




