<template>

    <div v-if="currentUser" class="header-profile">

        <div class="header-profile__content">
        <p class="header-profile__name" @click="openProfile()">
            {{currentUser.name}}
        </p>
        <p class="header-profile__logout" @click="logout()">logout</p>
        </div>

        <div class="header-profile__avatar" @click="openProfile()">
            <img :src="currentUser.avatar" :alt="currentUser.name">
        </div>

    </div>

</template>
<script>

export default {

    data() {
        return {

        }
    },

    computed: {
        currentUser() {
            return this.$store.getters.currentUser;
        },
        avatarUrl() {
            return this.currentUser.avatar;
        },
    },

    methods: {
        openProfile() {
            this.$store.commit('setSelectedUser', {user: this.currentUser});
        },
        logout() {
            this.$store.dispatch('logout');
        }
    },

}
</script>

<style lang="scss" scoped>
    .header-profile {
        display: flex;
        align-items: center;
        cursor: pointer;

        &__name {
            margin-bottom: 0;
            font-size: 16px;
            font-weight: 600;
        }
        &__logout {
            margin-bottom: 0;
            text-align: right;
        }
        &__content {
            padding-right: 10px;
        }

        &__avatar {
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 4px;
            overflow: hidden;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }

    }
</style>




