<template>
    <div class="d-flex justify-content-between">
        <nav v-html="menu"></nav>
        <header-profile v-if="$store.getters.currentUser"></header-profile>
    </div>
</template>

<script>
import headerProfile from './header-profile';

import Vue from 'vue';
Vue.component('header-profile', headerProfile);

export default {

    component: {
        headerProfile
    },

    data() {
        return {
            menu: ''
        }
    },

    computed: {

    },

    methods: {

    },

    beforeMount() {

        // if(this.$checkAuth()) {
            axios.get('/api/menu')
                .then((response) => {
                    this.menu = response.data;
                });
        // }

    },
}
</script>

<style lang="scss" scoped>

</style>




