<template>
    <ul class="notifications-list">
        <li v-for="(notification, index) in notifications" class="notifications-list__item">
            <div class="notification">
                <div class="notification__inner">
                    <p class="notification__text">{{ notification }}</p>

                    <div class="notification__actions">
                        <a
                            @click="remove(index)"
                            class="btn btn-light notification__action"
                        >
                            Ok
                        </a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</template>

<script>

export default {

    computed: {
        notifications() {
            return this.$store.getters.getUserNotifications;
        },
    },

    methods: {
        remove(index) {
            this.$store.commit('removeNotification', {index});
        }
    },

}
</script>

<style lang="scss" scoped>
    .notifications-list {
        position: fixed;
        top: 0;
        right: 0;
        list-style: none;
        &__item {
            position: relative;
            z-index: 1;
            min-width: 350px;
            padding-top: 30px;
            opacity: .8;
            transition: .2s;
            .notification {
                transform: scale(0.98);
            }
            &:last-child {
                opacity: 1;
                .notification {
                    transform: scale(1);
                }
            }
        }
    }
    .notification {
        position: absolute;
        top: 0;
        padding: 30px;
        background-color: #62a00d;
        border-radius: 3px;
        box-shadow: 0 0 10px rgba(0,0,0,.4);
        &__inner {
            padding: 15px;
            border-radius: 3px;
            border: 1px solid #ffffff;
        }
        &__text {
            margin-bottom: 0;
            font-size: 16px;
            color: #ffffff;
        }
        &__actions {
            margin-top: 15px;
            text-align: center;
        }

        &__action {

        }
    }
</style>




