<script>
import filterUserSkills from './filter-user-skills';
import filterUserEducations from './filter-user-educations';

import Vue from 'vue';
import skillsStore from "../store/skills-store";

Vue.component('filter-user-skills', filterUserSkills);
Vue.component('filter-user-educations', filterUserEducations);

export default {
    template: '#template-portfolio-list',
    delimiters: ['{#', '#}'],
    data() {
        return {
            users: [],
            // skills: [],
            pagination: [],

            currentSort: 'id',
            currentSortDir: 'asc',
            page: 1,

            selectedSkillsId: [],
            selectedEducation: null,
            selectedStartDate: '',
            selectedEndDate: '',

            selectedUser: null,
            showEditUser: false,
        }
    },
    computed: {
        educations() {
            if(!this.$store.getters.getEducations.length) {
                this.$store.dispatch('loadEducations');
            }

            return this.$store.getters.getEducations;
        },
        skills() {
            return this.$store.getters.getSkills;
        }
    },
    methods: {
        getSortedUsers() {
            axios.get('/api/users', {
                params: {
                    sortBy: this.currentSort,
                    sortDirection: this.currentSortDir,

                    skills: this.selectedSkillsId,
                    education: this.selectedEducation ? this.selectedEducation.id : '',
                    startDate: this.selectedStartDate,
                    endDate: this.selectedEndDate,
                    page: this.page,
                },
            }).then((response) => {
                const currentUser = this.$store.getters.currentUser;
                this.users = response.data.data.map(user => {
                    //et current user from $store
                    if(currentUser && currentUser.id === user.id) {
                        user = currentUser;
                    }
                    user.show = true;
                    user.created_at = new Date(user.created_at).toLocaleString('ru');
                    user.skills.forEach(skill => skill.active = false);

                    return user;
                });

                this.pagination = response.data.meta;
            });
        },
        listenSelectedSkills(skills = []) {
            this.selectedSkillsId = skills.map(skill => skill.id);
            this.getSortedUsers();
        },
        listenSelectedEducation(education) {
            this.selectedEducation = education;
            this.getSortedUsers();
        },
        listenSelectedStartDate(date) {
            this.selectedStartDate = date;
            this.getSortedUsers();
        },
        listenSelectedEndDate(date) {
            this.selectedEndDate = date;
            this.getSortedUsers();
        },
        listenSelectPagination(label) {
            if(label.toLowerCase().indexOf('next') !== -1) {
                this.page++;
            } else if(label.toLowerCase().indexOf('prev') !== -1) {
                this.page--;
            } else {
                this.page = parseInt(label);
            }

            this.getSortedUsers();
        },
        sort(s) {
            if(s === this.currentSort) {
                this.currentSortDir = (this.currentSortDir === 'asc') ? 'desc' : 'asc';
            }
            this.currentSort = s;

            this.getSortedUsers();
        },


        listenSelectedUser(user) {
            this.$store.commit('setSelectedUser', {user: user})
        },
    },
    beforeMount() {
        this.getSortedUsers();

        if(!this.$store.hasModule('skills')) {
            this.$store.registerModule('skills', skillsStore);
        }

        if(!this.$store.getters.getSkills.length) {
            this.$store.dispatch('loadSkills');
        }
    }
}
</script>
<style lang="scss" scoped>
    .portfolio-list {

    }
    .portfolio-list-item {
        &__action {
            font-size: 10px;
            cursor: pointer;
        }
    }
    .user-skills {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        padding-left: 0;
        list-style: none;
        &__item {
            margin: 5px;
            padding: 5px 10px;
            border: 1px dashed #dedede;
            border-radius: 20px;
            transition: .2s;
            cursor: default;
            &--active {
                border-style: solid;
                box-shadow: 0 0 5px rgba(0,0,0,.4);
            }
        }
    }
    .sortingColumn {
        cursor: pointer;
    }
    .table td,
    .table th {
        vertical-align: middle;
    }
</style>




