<script>
import rolesStore from "../../store/posts-store";

export default {
    template: '#posts-list-template',
    delimiters: ['{#', '#}'],

    data() {
        return {

        }
    },

    computed: {
        posts() {
            return this.$store.getters.getPosts;
        },
        pagination() {
            return this.$store.getters.getPostsPagination;
        },
        page() {
            return this.$store.getters.getPostsPage;
        }
    },

    methods: {
        listenSelectPagination(label) {
            if(label.toLowerCase().indexOf('next') !== -1) {
                this.$store.commit('setPostsPage', {page: (this.page + 1)})
            } else if(label.toLowerCase().indexOf('prev') !== -1) {
                this.$store.commit('setPostsPage', {page: (this.page - 1)})
            } else {
                this.$store.commit('setPostsPage', {page: parseInt(label)})
            }
            this.$store.dispatch('loadAllPosts');
        },
    },

    beforeMount() {

        this.$store.registerModule('posts', rolesStore);

        if(!this.$store.getters.getPosts.length) {
            this.$store.dispatch('loadAllPosts');
        }
    },

    // mounted () {
    //     this.$store.registerModule('posts', rolesStore)
    // },

}
</script>

<style lang="scss" scoped>

</style>




