<script>
import Vue from 'vue';
import postsStore from "../../store/posts-store";
import commentsList from '../comment/comments-list';

Vue.component('comments-list', commentsList);

export default {
    template: '#posts-show-template',
    delimiters: ['{#', '#}'],

    data() {
        return {

        }
    },

    props: {
        postId: Number,
    },

    computed: {
        post() {
            return this.$store.getters.getCurrentPost;
        },
    },

    methods: {

    },

    beforeMount() {
        this.$store.registerModule('posts', postsStore)
        this.$store.commit('setCurrentPostId', {id: this.postId});
        this.$store.dispatch('loadCurrentPost');
    },

    // mounted () {
    //     this.$store.registerModule('posts', rolesStore)
    // },

}
</script>

<style lang="scss" scoped>

</style>




