<script>
import Editor from '@tinymce/tinymce-vue'

export default {
    template: '#post-form-template',
    delimiters: ['{#', '#}'],
    components: {
        editor: Editor,
    },
    data() {
        return {
            title: '',
            content: '',
            errors: [],
        }
    },
    props: {
      postId: Number,
    },
    methods: {
        submitForm(e) {
            const action = e.target.closest('form').getAttribute('action');
            const method = 'post';
            const params = {
              title: this.title,
              content: this.content,
            };
            const query = this.postId ? axios.patch(action, params) : axios.post(action, params);

            query.then(response => {
                if(response.data.data.id) {
                    location.href = '/posts/' + response.data.data.id + '/edit';
                }
            })
            .catch(error => {
              console.log(error.response);
                if(error.response.status === 403) {
                    this.errors = { credential: error.response.data.message };
                } else {
                    this.errors = error.response.data.errors;
                }
            })
        },
        loadPost(id) {
            const action = '/api/posts/' + id + '/edit';
            axios.get(action)
            .then(response => {
              this.title = response.data.data.title;
              this.content = response.data.data.content;
            })
            .catch(error => {
                if(error.response.status === 403) {
                    this.errors = { credential: error.response.data.message };
                } else {
                    this.errors = error.response.data.errors;
                }
            })
        },
    },
    beforeMount() {
      if(this.postId) {
        this.loadPost(this.postId);
      }
    }
}
</script>

<style lang="scss" scoped>

</style>




